<html>
<%- include('../templates/header.ejs', {user: user}) %>
<head>

<title>Name Here</title>
</head>
<body>
	<div id="quickTake">
      <div id="profilePicture">
				<!-- <blockquote class="imgur-embed-pub" lang="en" data-id="NPloMG6">
					<a href="//imgur.com/NPloMG6"></a>
				</blockquote>
				<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->
					<img src= <%=pic %> title="source: imgur.com" /></img>
			</div>
      <div id= "userName">
        <p> User Name: <%=user%> </p>
      </div>
      <div id="name">
        <p> Name: <%=FirstName%>  <%=LastName%></p>
      </div>
      <div id="city">
        <p> Location: <%=Location%> </p>
      </div>
			<div id="karma">
				<p> Karma: <%=Karma%> </p>
			</div>
      <div id="Verified">
        <p> Verified: <%=Verified%> </p>
      </div>
	</div>
	<div id="bio">
    <p> Biography </p>
		<p class="meta"></p>
		<p> <%=Bio%> </p>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</body>
</html>
