<html>
<%- include('../templates/header.ejs', {user: user}) %>
<head>

<title>Name Here</title>
</head>
<body>
	<div id="quickTake">
      <div id="profilePicture">
				<!-- <blockquote class="imgur-embed-pub" lang="en" data-id="NPloMG6">
					<a href="//imgur.com/NPloMG6"></a>
				</blockquote>
				<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->
					<img src= <%=pic %> title="source: imgur.com" /></img>
			</div>
	<div>
	<h2 style="text-align:center">Bio</h2>
	<table style="font-size:22px" id="bioTable" align="center">
		<col width="200">
		<tr>
      <td id= "userName">User Name: </td><td><%=user%></td></tr>
		<tr>
			<td id= "Name">Name: </td><td><%=FirstName%>  <%=LastName%></td></tr>
    <tr>
      <td id="karma"> Karma: </td><td> <%=Karma%> </td></tr>
		<tr>
      <td id="Verified">Verified:
        <%if (Verified > 0) { %>
						<img src= "http://i.imgur.com/29R7Lqz.jpg" style="width:12px;height:12px;"/>
				<% } %>
		</td></tr></table>
		</div>
		</div>
		<br><br><br><br><br><br>
	<div id="bio">
    <p> Biography </p>
		<p class="meta"></p>
		<p> <%=Bio%> </p>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</body>
</html>
